.bg-primary {
    background-color: #46425e !important;
}

.bg-secondary {
    background-color: #ff6973 !important;
}

.portfolio .portfolio-item .portfolio-item-caption {
    background-color: #ffeecc;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #FF9B71;
}

.fa-star {
    color: #ff6973;
}

.divider-custom-line {
    color: #ff6973;
}

.divider-custom .divider-custom-line {
    background-color: #ff6973;
}

.copyright {
    background-color: #1a252f;
}

.text-white {
    color: #ffeecc !important;
}

.text-diff {
    color: #ffffff !important;
}

.btn-primary {
    color: #fff;
    background-color: #FF9B71;
    border-color: #FF9B71;
}

.btn-perdin {
    color: #fff;
    background-color: rgb(255, 67, 60);
    border-color: rgb(255, 67, 60);
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #ffbbcc;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: rgb(255, 67, 60);
    border-color: #fa6b8f;
}

.btn-secondary {
    color: #fff;
    background-color: rgba(99, 21, 18, 0.726);
    border-color: #e7305e83;
}

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #a5a19a;
    color: #fff;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:active, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
    color: #fff;
    background: #FF9B71;
}